* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fefaf6;
  color: #102c57;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  font-size: 18px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.nav-links {
  list-style: none;
  text-decoration: none;
  color: #102c57;
  font-size: 20px;
  font-weight: 300;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  padding: 6px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fefaf6;
  background-color: #102c57;
}
.logo-main {
  margin: 30px;
}

@media screen and (min-width: 961px) {
  .logo-main {
    display: none;
  }
  .burger {
    display: none;
  }
}

@media (max-width: 961px) {
  .left {
    transform: rotate(45deg);
    position: relative;
    top: 25%;
  }
  .opacity {
    opacity: 0;
  }
  .right {
    transform: rotate(-45deg);
    position: relative;
    top: -35%;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #eadbc8;
    padding: 50px;
    width: 50%;
    height: 90vh;
    position: relative;
    left: 100%;
    top: 50vh;
    transition: 150ms ease-in-out;
  }
  ul {
    flex-direction: column;
    padding: 20px;
  }
  .buttons {
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .logo-img {
    width: 100px;
  }

  button {
    padding: 15px 24px;
    font-size: 18px;
  }
  .burger {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 30px;
    height: 30px;
    position: relative;
    left: 60%;
    cursor: pointer;
    transition: 150s ease-in-out;
  }
  .line-1,
  .line-2,
  .line-3 {
    display: flex;
    width: 30px;
    background-color: black;
    height: 4px;
    transition: 150ms ease-in-out;
  }
  .main-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: absolute;
    background-color: #eadbc8;
  }
  .active {
    left: 0%;
  }
  .nav-link {
    opacity: 0;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media (max-width: 520px) {
  .burger {
    left: 50vw;
  }
}
